<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="SpotifyRecorder/BitRate" value="Extreme" />
    <add key="SpotifyRecorder/MillisecondsToCheckForTrackChanges" value="10" />
    <add key="SpotifyRecorder/RecorderDeviceName" value="Realtek High Definition Audio" />
    <add key="SpotifyRecorder/OutputDirectory" value=".\Music\" />
    <add key="SpotifyRecorder/SkipExistingSongs" value="true" />
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>